.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1 My Readings
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li.active My Readings
    - if @novels.any?
      .novels_part
        = render 'read_novels'
    - else
      %h4 No readings yet
