.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1 My Viewed Playlists
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li.active My Viewed Playlists
    - if @videos.any?
      .videos_part
        = render 'viewed_videos'
    - else
      %h4 No viewed playlists yet
