.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1 My Novels
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li.active My Novels
    - if @novels.any?
      .novels_part
        = render 'novels/novels'
    - else
      %h4 No written novels yet
      = link_to 'Click here to create your first', new_novel_path
