.col-sm-3.search-filters.main-content.cards-list
  %form.padded-form
    %legend Filters
    .form-group
      .checkbox
        %label
          %input#0{:name => "genres-filter", :type => "checkbox", :value => "0"}/
          horror
      .checkbox
        %label
          %input#1{:name => "genres-filter", :type => "checkbox", :value => "1"}/
          action
      .checkbox
        %label
          %input#2{:name => "genres-filter", :type => "checkbox", :value => "2"}/
          drama
      .checkbox
        %label
          %input#3{:name => "genres-filter", :type => "checkbox", :value => "3"}/
          adventures
      .checkbox
        %label
          %input#4{:name => "genres-filter", :type => "checkbox", :value => "4"}/
          romance
    %button.btn.btn-default{:type => "submit"} Filter
