.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            %a{:href => "#"} Home
          %li.active Create Novel
    .row
      .col-sm-8.col-sm-offset-2
        = render 'form'
