@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

.text-center {
    text-align: center
}
.clear-fix {
    clear: both
}
.icons {
    display: none
}
body {
    font-family: 'Open Sans', sans-serif
}
.flexbox body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
.flexbox body main {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
header {
    background-size: cover;
    position: relative
}
header .nav.navbar-nav {
    margin-top: 10px
}
header .scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 20px
}
header .scroll-down .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: #fff
}
header .page-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}
header .profile {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 50px
}
header .profile img {
    max-height: 100%;
    max-width: 100%
}
header .profile .caret {
    bottom: 0;
    right: 0;
    border-top-width: 8px;
    position: absolute
}
header .navbar-login,
header .navbar-nav,
header .navbar-search {
    margin-top: 10px
}
header .navbar-login {
    position: relative
}
header .navbar-login a+a {
    padding-left: 4px;
    margin-left: 15px
}
header .navbar-login a+a:before {
    color: #337AB7;
    font-weight: 700;
    position: relative;
    content: "|";
    left: -17px
}
main {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #9797A8;
    font-size: 16px
}
main h1,
main h2,
main h3,
main h4 {
    font-weight: 700;
    color: #304661
}
section.flash-block {
    text-align: center;
    padding: 50px 0
}
section h2.section-title {
    color: #EEA75D;
    text-transform: uppercase;
    font-size: 16px
}
section h2.section-title strong {
    display: block;
    margin: 15px 0;
    color: #304661;
    font-size: 24px;
    text-transform: none
}
section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px
}
footer {
    background: #2B2D2E;
    color: #fff;
    font-size: 20px;
    padding: 20px 0
}
footer .icon {
    height: 34px;
    width: 34px;
    fill: #fff;
    display: inline-block;
    transition: .5s all
}
footer a {
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 15px
}
footer a:hover .icon {
    -webkit-filter: drop-shadow(2px 2px #000);
    -moz-filter: drop-shadow(2px 2px #000);
    -ms-filter: drop-shadow(2px 2px #000);
    filter: drop-shadow(2px 2px #000)
}
.v-center {
    /*position: relative;
    top: 24px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)*/
}
.navbar-default {
    margin-top: 30px;
    background: 0 0;
    border: 0;
    color: #fff
}
.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 24px
}
.navbar-default .navbar-brand:hover {
    color: #fff
}
.navbar-default .navbar-nav {
    text-transform: uppercase
}
.navbar-default .navbar-nav>.active,
.navbar-default .navbar-nav>li {
    margin: 0 15px
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background: 0 0;
    padding: 5px 0
}
.navbar-default .navbar-nav .active {
    border-bottom: 2px solid #fff;
    font-weight: 700
}
.navbar-default .navbar-nav>.contact {
    border: 0
}
.navbar-default .navbar-nav>.contact>a,
.navbar-default .navbar-nav>.contact>a:hover {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 20px
}
.navbar-default .navbar-nav>.contact.active>a,
.navbar-default .navbar-nav>.contact.active>a:hover {
    background: #fff;
    color: #8B928B
}
.navbar-default .navbar-nav>.contact.active .icon {
    fill: #8B928B
}
.navbar-default .navbar-nav .icon {
    fill: #fff;
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 8px
}
header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:hover,
header .navbar-default .navbar-nav>li>a,
header .navbar-default .navbar-nav>li>a:hover {
    color: #0C9648
}
header .navbar-default .navbar-nav .active {
    border-bottom-color: #0C9648
}
header nav.navbar-default {
    background: #fff;
    border-radius: 0;
    margin: 0;
    padding: 30px 0
}
header .navbar-brand img {
    max-width: 100%;
    position: relative;
    top: -30px
}
header .navbar-right {
    margin-top: 10px
}
header .navbar-default {
    box-shadow: -500px 0 0 #fff, 500px 0 0 #fff
}
header.home .slide {
    padding-top: 7%;
    text-align: center;
    color: #fff
}
header.home .slide h1 {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 15px
}
header.home .slide p {
    font-size: 22px;
    margin-bottom: 30px;
    letter-spacing: 1px
}
header.home .slide .btn {
    border: 0
}
header.home .slide .btn-primary {
    background: #4CA0DA;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 35px;
    font-weight: 700;
    letter-spacing: 1px
}
.list-filter {
    font-size: 1.5rem
}
.list-filter .breadcrumb {
    margin-bottom: 10px
}
.main-container {
    background-color: #EFEBE6;
    min-height: 100%
}
.main-content {
    background-color: #fff
}
.card {
    border-radius: 5px;
    background-color: #fff
}
.card+.card {
    margin-top: 30px
}
.card p {
    margin-bottom: 0
}
.card .media-object {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 150px;
    height: 150px
}
.card .media-body {
    padding: 17px 0 0
}
.card .media-heading {
    font-size: 20px
}
.card .description {
    margin-top: 15px
}
.extra-info {
    margin-top: 15px;
    vertical-align: bottom
}
.label {
    float: right;
    width: 75px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    padding: 7px;
    text-align: center
}
.label.danger {
    background-color: #CE4C4A
}
.label.safe {
    background-color: #88BF5D
}
.tags i {
    display: inline-block;
    white-space: nowrap;
    border-radius: 50px;
    padding: .5rem 1rem;
    margin: 0 10px 0 0;
    font-size: 1rem;
    background: #E9EDEB;
    color: #304661
}
.padded-form {
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 40px
}
.quill-wysiwyg #toolbar {
    border: 1px solid #e5e5e5;
    margin: 5px auto 0;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, .2)
}
.quill-wysiwyg #editor {
    margin: 0 auto 20px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, .2);
    border: 1px solid #e5e5e5;
    height: 300px
}
.profilepicture {
    width: 25%;
    float: left;
    padding-top: 50px;
    clear: both
}
.fullname {
    margin: 0 auto;
    padding-top: 150px;
    text-align: center
}
.birthdate,
.email,
.website {
    text-align: center
}
.myreadings {
    padding: 200px 0 10px;
    clear: both
}
.reads {
    list-style-type: none;
    margin: 0 auto
}
.read {
    max-width: 25%;
    float: left;
    display: block
}
.read:after,
.reads:after {
    content: '';
    clear: both
}
.search-filters {
    border-radius: 5px
}
.search-filters form {
    padding: 20px 15px
}
.responsive-img {
    max-width: 100%
}
.about-novel .extra-info .author {
    margin-right: 20px
}
.slide {
    padding: 0 20px;
    opacity: .2;
    background-color: transparent;
    text-align: center;
}
.slide:focus {
    outline: none;
}
.slide .slide-content {
    background-color: #fff;
    padding: 10px 0
}
.slide.chapter-picked {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: #e67e22;
    opacity: 1;
    pointer-events: auto
}