%footer
  .container-fluid
    .row
      .col-sm-6
        %p.tagline © 2015 Rabtet Roz B Laban Rights Reserved
      .col-sm-6.text-right
        %a{:href => "#"}
          %svg.icon
            %use{"xlink:href" => "#shape-facebook", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        %a{:href => "#"}
          %svg.icon
            %use{"xlink:href" => "#shape-twitter", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
/ %script{:src => "scripts/vendor.js"}
/ %script{:src => "scripts/main.js"}
