%body
  / [if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" upgrade your browser to improve your experience.</p>
  %header.home
    .container-fluid
      .row
        .col-sm-12
          %nav.navbar.navbar-default{:role => "navigation"}
            .navbar-header
              %button.navbar-toggle.collapsed{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_path, class: 'navbar-brand' do
                = image_tag 'logo.png'
            .collapse.navbar-collapse.navbar-ex1-collapse
              %ul.nav.navbar-nav
                %li.active
                  = link_to 'Home', root_path
                %li
                  = link_to 'Novels', root_path
                %li
                  %a{:href => "#"} Audio
                %li
                  %a{:href => "#"} About
                %li
                  %a{:href => "#"} Contact
              .col-sm-3.col-md-3.search-form
                %form{:role => "search"}
                  .input-group
                    %input#srch-term.form-control{:name => "srch-term", :placeholder => "Author / Title / Genre", :type => "text"}/
                    .input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
